1.	<h3>Student Form</h3><%= form_tag students_path do %>
2.	<label>Student first name:</label><br>
3.	<%= text_field_tag :first_name %><br>
4.
5.	<label>Student last name:</label><br>
6.	<%= text_area_tag :last_name %><br>
7.
8.	<%= submit_tag "Submit Student" %>
9.	<% end %>
